<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSDS - Log</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images.png" type="image/x-icon">
</head>

<body class="bg-gray-50">

    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex items-center justify-between">
            <div class="text-white text-lg font-bold">
                <a href="/">
                    <img src="/static/images.png" alt="Logo" class="w-10 ml-4">
                </a>
            </div>
            <div class="hidden md:flex space-x-4">
                <a href="/" class="text-gray-300 hover:text-white font-semibold">Home</a>
                <a href="#" class="text-gray-300 hover:text-white font-semibold">Live</a>
                <a href="/checkout" class="text-gray-300 hover:text-white font-semibold">Checkout</a>
                <a href="/log" class="text-red-500 hover:text-red-700 font-semibold">Log</a>
            </div>
            <div class="flex items-center">
                <div class="relative md:hidden">
                    <button class="text-gray-300 hover:text-white focus:outline-none" id="menu-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </button>
                    <div class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50" id="menu">
                        <a href="/" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Home</a>
                        <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Live</a>
                        <a href="/checkout" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Checkout</a>
                        <a href="#" class="block px-4 py-2 text-red-500 hover:text-red-700">Log</a>
                    </div>
                </div>
                <div class="ml-4">
                    <a href="{{ url_for('auth.logout') }}"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Logout
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mx-auto mt-4">
        {% for log in logs %}
        <div class="bg-gray-100 border border-gray-300 rounded-md mb-4">
            <div
                class="flex p-4 {% if log[7] == 'Unpaid' %}border-l-4 border-red-500{% elif log[7] == 'Paid' %}border-l-4 border-green-500{% else  %}border-l-4 border-blue-500{% endif %}">
                <div class="space-y-2 border-r-2 pr-4">
                    <div class="text-lg font-semibold"><span class="text-sm font-normal text-gray-500">Log #</span> {{
                        log[0] }}
                    </div>
                    <div class="text-lg font-semibold"><span class="text-sm font-normal text-gray-500">Space #</span> {{
                        log[1] }}</div>
                    <div class="text-lg font-semibold">{{ log[2] }}</div>
                </div>
                <div class="flex-1 ml-4 border-r-2 pr-4">
                    <div class="space-y-2">
                        <div class="text-xl font-medium">{{ log[6] }}</div>
                        <div class="text-lg"><span class="text-sm font-normal text-gray-500">Entry Time</span> {{ log[3]
                            }}
                        </div>
                        <div class="text-lg"><span class="text-sm font-normal text-gray-500">Exit Time</span> {{ log[4]
                            }}
                        </div>
                    </div>
                </div>
                <div class="ml-4 border-r-2 pr-4 flex justify-center items-center">
                    <div class="border-2 border-gray-300 bg-gray-200 p-2 rounded-md">
                        <div class="uppercase text-xs font-medium">Total Amount</div>
                        <div class="text-center text-lg font-semibold text-gray-800">Rs.{{ log[5] }}</div>
                    </div>
                </div>
                <div class="ml-4 flex justify-center items-center">
                    <form action="{{ url_for('main.delete', log_id=log[0]) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit"
                            class="bg-red-500 hover:bg-red-700 text-white font-semibold p-2 w-24 rounded-md text-center">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        document.getElementById('menu-btn').addEventListener('click', function () {
            var menu = document.getElementById('menu');
            menu.classList.toggle('hidden');
        });
    </script>

</body>

</html>